<a href="https://colab.research.google.com/github/Ayten-web/-testing/blob/master/Exercices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercice 1

Find and delete all the duplicate words in a string.

```
Input
sentence = 'Baku is a beautiful city. City of Baku is the capital of Azerbaijan.'

Output
sentence = 'Baku is a beautiful city. of Baku, the capital Azerbaijan.'
```

In [22]:
# your code here
s = 'Baku is a beautiful City. City of Baku is the capital of Azerbaijan.'
 
l = s.split() 
k = [] 
for i in l: 
  
      
    if (s.count(i)>1 and (i not in k)or s.count(i)==1): 
        k.append(i) 
print(' '.join(k))

Baku is a beautiful City. City of the capital Azerbaijan.

**Exercice 2**

Remove all consecutive duplicate charachters of a given string.

```
Input
word1 = 'meet'
word2 = 'booos'

Output
word1 = 'met'
word2 = 'bos'
```

In [16]:
# your code here
word1 = 'meet'
word2 = 'booos'
result1 = "".join(dict.fromkeys(word1)) 
result2 = "".join(dict.fromkeys(word2)) 

print("word1", "=",result1)
print("word2", "=",result2)

word1 = met
word2 = bos

**Exercice 3**

Make two given strings anagrams removing any characters from any of the strings. Return all the removed characters as a list. *Anagram* - of a string is another string that contains same characters, only the order of characters can be different. For example, `'abcd'` and `'dabc'` are anagram of each other.

```
Input
word = 'fabcde', 'abcm'

Output
['f', 'd', 'e', 'm']
```

In [30]:
# your code here
import string
lc = string.ascii_lowercase
uc = string.ascii_uppercase
ac = lc+uc
l1 = [uc]

word = 'fabcde','abcm' 
t = list(word)
for i in t:
  print(i)

['ABCDEFGHIJKLMNOPQRSTUVWXYZ']
fabcde
abcm

**Exercice 4**

Change the position of every `n`th value with the `n+1`th in a list.

```
Input
[0, 1, 2, 3, 4, 5]

Output
[1, 0, 3, 2, 5, 4]
```

In [27]:
# your code here it is from google
from itertools import zip_longest, chain, tee
def replace2copy(lst):
    lst1, lst2 = tee(iter(lst), 2)
    return list(chain.from_iterable(zip_longest(lst[1::2], lst[::2])))
n = [0,1,2,3,4,5]
print(replace2copy(n))

[1, 0, 3, 2, 5, 4]

**Exercice 5**

Create a list by concatenating a given list which range goes from `1` to `n`.

```
Input
['p', 'q']
n =5

Output
['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']
```

In [1]:

my_list = ['p', 'q']
n = 5
new_list = ['{}{}'.format(x, y) for y in range(1, n+1) for x in my_list]
print(new_list)

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']